<div class="body-content">
    <br/>
    <div class="form-group" style="text-align:center;" >
        <div style="width:75%"> 
	        <label>
	          Votre message
	        </label>
	    </div>
    	<textarea  style="width:75%" ng-model="message" class="form-control " placeholder="entrez votre message"></textarea>
    	<div style="width:75%"> 
        	<label>
	          Votre nom
	        </label>
        </div>
    	<input type="text" style="width:75%" ng-model="author"class="form-control input-medium" placeholder="entrez votre nom">     
    	<br/>
    	<div style="width:75%"> 
    		<button type="submit" class="btn btn-primary" ng-click="addMessage()">ajouter</button>
    	</div> 		  		
	</div>
	<hr />
	<footer>
  		<p>Made by Damien for eruil</p>
	</footer>
</div>  
